In [2]:
import httplib2 
import apiclient.discovery
from oauth2client.service_account import ServiceAccountCredentials
from google.oauth2 import service_account
from googleapiclient.http import MediaIoBaseDownload,MediaFileUpload
from googleapiclient.discovery import build
import pprint as pp
import io
import pandas as pd
import numpy as np

In [3]:
CREDENTIALS_FILE = 'booming-primer-315110-ab23a31129a7.json'

In [4]:
credentials = ServiceAccountCredentials.from_json_keyfile_name(CREDENTIALS_FILE, ['https://www.googleapis.com/auth/spreadsheets', 'https://www.googleapis.com/auth/drive'])

In [5]:
httpAuth = credentials.authorize(httplib2.Http())

In [6]:
service = apiclient.discovery.build('sheets', 'v4', http = httpAuth)

In [7]:
spreadsheetId = '1Ycg7zTxds9DZnDvTrFcyNNKuTUxg6Yy6WF0a8Wc02WQ'
ranges = ["leads!A2:F"] # 
          
results = service.spreadsheets().values().batchGet(spreadsheetId = spreadsheetId, 
                                     ranges = ranges, 
                                     valueRenderOption = 'FORMATTED_VALUE',  
                                     dateTimeRenderOption = 'FORMATTED_STRING').execute() 
leads = results['valueRanges'][0]['values']
leads = pd.DataFrame(leads)
leads.columns = ['lead_id', 'created_at', 'd_utm_medium', 'd_utm_source', 'l_manager_id', 'l_client_id']
leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1
...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1

In [8]:
ranges = ["transactions!A2:D"] 
          
results = service.spreadsheets().values().batchGet(spreadsheetId = spreadsheetId, 
                                     ranges = ranges, 
                                     valueRenderOption = 'FORMATTED_VALUE',  
                                     dateTimeRenderOption = 'FORMATTED_STRING').execute() 
transactions = results['valueRanges'][0]['values']
transactions = pd.DataFrame(transactions)
transactions.columns = ['transaction_id', 'created_at', 'm_real_amount', 'l_client_id']
transactions.head()

,transaction_id,created_at,m_real_amount,l_client_id
0,2c9f1527-8e7f-4fb1-8000-c747a2ab46c9,2020-09-30 07:15:14,31,8a805e60-6fd6-11e7-80fc-c412f533dba1
1,2c9f1527-8e7f-4fb1-8000-c747a2ab46c9,2020-09-30 07:15:14,87,8a805e60-6fd6-11e7-80fc-c412f533dba1
2,ab8cbcf7-3271-49a0-8001-6cf9816f63b8,2020-09-12 13:47:04,49231,dc0d0e52-629a-11ea-abf3-c412f533dba1
3,ab8cbcf7-3271-49a0-8001-6cf9816f63b8,2020-09-12 13:47:04,17305,dc0d0e52-629a-11ea-abf3-c412f533dba1
4,52f8ebcc-d82d-4be1-8004-72cfbe0dff24,2020-09-25 06:00:07,9022,e663b6a0-4a1a-11e8-a2c3-c412f533dba1

In [9]:
ranges = ["clients!A2:C"] 
          
results = service.spreadsheets().values().batchGet(spreadsheetId = spreadsheetId, 
                                     ranges = ranges, 
                                     valueRenderOption = 'FORMATTED_VALUE',  
                                     dateTimeRenderOption = 'FORMATTED_STRING').execute() 
clients = results['valueRanges'][0]['values']
clients = pd.DataFrame(clients)
clients.columns = ['client_id', 'created_at', 'l_manager_id']
clients.head()

,client_id,created_at,l_manager_id
0,0001da7d-fcda-11ea-ac18-c412f533dba1,2020-09-22 17:46:23,9a87c608-52dc-11ea-abeb-c412f533dba1
1,000a8743-9ae1-11e7-8114-c412f533dba1,2017-09-16 00:00:00,ad52c7a8-a752-11e7-8115-c412f533dba1
2,000ae57e-2d48-11ea-abeb-c412f533dba1,2020-01-02 14:08:56,43756fa4-57a0-11e9-ab9a-c412f533dba1
3,00133cde-481c-11ea-abeb-c412f533dba1,2020-02-05 17:25:13,9a87c608-52dc-11ea-abeb-c412f533dba1
4,00148d3f-07e6-11e8-812a-c412f533dba1,2018-02-02 00:00:00,abed5496-ca88-11e9-abb8-c412f533dba1

In [10]:
ranges = ["managers!A2:C"] 
          
results = service.spreadsheets().values().batchGet(spreadsheetId = spreadsheetId, 
                                     ranges = ranges, 
                                     valueRenderOption = 'FORMATTED_VALUE',  
                                     dateTimeRenderOption = 'FORMATTED_STRING').execute() 
club = results['valueRanges'][0]['values']
club = pd.DataFrame(club)
club.columns = ['manager_id', 'd_manager', 'd_club']
club

                              manager_id    d_manager   d_club
0   1e9c5562-0cfc-11ea-abe1-c412f533dba1   manager #8  club #2
1   43756fa4-57a0-11e9-ab9a-c412f533dba1  manager #11  club #4
2   543888c4-fbb3-11e9-abdc-c412f533dba1  manager #12  club #3
3   5dd88f32-6501-11ea-abf3-c412f533dba1  manager #10  club #2
4   9a87c608-52dc-11ea-abeb-c412f533dba1   manager #9  club #3
5   abed5496-ca88-11e9-abb8-c412f533dba1   manager #5  club #4
6   ad52c7a8-a752-11e7-8115-c412f533dba1   manager #7  club #1
7   b55a233c-5df6-11ea-abf2-c412f533dba1   manager #2  club #4
8   b832aac3-fcda-11ea-ac18-c412f533dba1  manager #13  club #3
9   d12fe765-b444-11e9-abb3-c412f533dba1   manager #1  club #1
10  db06b8bc-bfb2-11e7-8116-c412f533dba1   manager #4  club #2
11  e463b03f-2d74-11eb-ac1f-c412f533dba1   manager #3  club #1
12  f44596c6-12cd-11eb-ac1c-c412f533dba1   manager #6  club #2

In [11]:
leads.d_utm_source = leads.d_utm_source.replace(r'^\s*$', 'unknown', regex=True)
leads.d_utm_source # заменяем пропуски на 'unknown'

0            viber
1        instagram
2        instagram
3          unknown
4               vk
           ...
3332       unknown
3333            vk
3334        google
3335     instagram
3336    utm_source
Name: d_utm_source, Length: 3337, dtype: object

In [14]:
leads.d_utm_source.value_counts()

unknown                                     1243
instagram                                    920
utm_source                                   379
viber                                        205
yandex                                       164
google                                       145
vk                                            98
sms                                           83
vkontakte                                     61
insta                                         19
ycard                                         15
ig                                             4
ycard#!/tproduct/225696739-1498486363994       1
Name: d_utm_source, dtype: int64

In [48]:
def qnt_leads(dim, p):
    if dim == 'd_utm_source':
        return (len(leads.lead_id[leads.d_utm_source == p]))
    elif dim == 'd_club':
        id_mans = club.manager_id[club.d_club == p]
        return (len(leads.lead_id[leads.l_manager_id.isin(id_mans)]))
    elif dim == 'd_manager':
        id_man = club.manager_id[club.d_manager == p]
        return (len(leads.lead_id[leads.l_manager_id.isin(id_man)]))

In [188]:
qnt_leads('d_manager','manager #3')

1

In [133]:
def qnt_trash_leads(dim, p):
    if dim == 'd_utm_source':
        return (len(leads.l_client_id[(leads.d_utm_source == p) & (leads.l_client_id == '00000000-0000-0000-0000-000000000000')]))
    elif dim == 'd_club':
        id_mans = club.manager_id[club.d_club == p]
        return (len(leads.l_client_id[(leads.l_manager_id.isin(id_mans)) & (leads.l_client_id == '00000000-0000-0000-0000-000000000000')]))
    elif dim == 'd_manager':
        id_man = club.manager_id[club.d_manager == p]
        return (len(leads.l_client_id[(leads.l_manager_id.isin(id_man)) & (leads.l_client_id == '00000000-0000-0000-0000-000000000000')]))

In [134]:
qnt_trash_leads('d_manager', 'manager #13')

6

In [138]:
df = leads.groupby(by='l_client_id').count()
df

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id
l_client_id,,,,,
00000000-0000-0000-0000-000000000000,824,824,824,824,824
0040a9b3-1d2a-11eb-ac1d-c412f533dba1,1,1,1,1,1
0045f3cf-0a05-11eb-ac1a-c412f533dba1,1,1,1,1,1
00817845-6fd6-11e7-80fc-c412f533dba1,1,1,1,1,1
00aea164-13a5-11eb-ac1d-c412f533dba1,1,1,1,1,1
...,...,...,...,...,...
ffa2a9f7-cb39-11e9-abb9-c412f533dba1,1,1,1,1,1
ffaa0816-16c4-11eb-ac1d-c412f533dba1,1,1,1,1,1
ffaccc44-6d9e-11ea-abf3-c412f533dba1,1,1,1,1,1
ffc63684-20de-11eb-ac1d-c412f533dba1,2,2,2,2,2
fffd756f-d49a-11e9-abbe-c412f533dba1,1,1,1,1,1

In [139]:
new_cust_id = pd.Series(df[df.created_at == 1].index.tolist())
new_cust_id ## id людей с одной (первой) заявкой

0       0040a9b3-1d2a-11eb-ac1d-c412f533dba1
1       0045f3cf-0a05-11eb-ac1a-c412f533dba1
2       00817845-6fd6-11e7-80fc-c412f533dba1
3       00aea164-13a5-11eb-ac1d-c412f533dba1
4       00b83c00-f0ba-11e9-abdc-c412f533dba1
                        ...
1920    ffa2180f-1f72-11eb-ac1d-c412f533dba1
1921    ffa2a9f7-cb39-11e9-abb9-c412f533dba1
1922    ffaa0816-16c4-11eb-ac1d-c412f533dba1
1923    ffaccc44-6d9e-11ea-abf3-c412f533dba1
1924    fffd756f-d49a-11e9-abbe-c412f533dba1
Length: 1925, dtype: object

In [140]:
def qnt_new_leads(dim, p):
    if dim == 'd_utm_source':
        return (len(leads.l_client_id[(leads.d_utm_source == p) & (leads.l_client_id.isin(new_cust_id))]))
    elif dim == 'd_club':
        id_mans = club.manager_id[club.d_club == p]
        return (len(leads.l_client_id[(leads.l_manager_id.isin(id_mans)) & (leads.l_client_id.isin(new_cust_id))]))
    elif dim == 'd_manager':
        id_man = club.manager_id[club.d_manager == p]
        return (len(leads.l_client_id[(leads.l_manager_id.isin(id_man)) & (leads.l_client_id.isin(new_cust_id))]))

In [141]:
qnt_new_leads('d_club', 'club #4')

477

In [12]:
df3 = leads.drop(['lead_id', 'd_utm_medium'], axis=1)
df3 = df3.drop(np.where(df3.l_client_id == '00000000-0000-0000-0000-000000000000')[0])
df3.sort_values(by='created_at')

,created_at,d_utm_source,l_manager_id,l_client_id
3083,2020-10-01 00:02:55,utm_source,68fba87a-5163-11ea-abeb-c412f533dba1,ccc9cb42-d5a7-11e9-abbe-c412f533dba1
36,2020-10-01 08:17:26,instagram,00000000-0000-0000-0000-000000000000,899b0ff5-0486-11eb-ac18-c412f533dba1
3111,2020-10-01 09:07:00,utm_source,43756fa4-57a0-11e9-ab9a-c412f533dba1,8d6e6e3f-03bc-11eb-ac18-c412f533dba1
3069,2020-10-01 11:01:27,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,67319964-03b9-11eb-ac18-c412f533dba1
326,2020-10-01 11:59:57,utm_source,db06b8bc-bfb2-11e7-8116-c412f533dba1,570ad14a-03bd-11eb-ac18-c412f533dba1
...,...,...,...,...
1186,2020-11-28 13:59:11,vk,43756fa4-57a0-11e9-ab9a-c412f533dba1,693f654f-3161-11eb-ac1f-c412f533dba1
3148,2020-11-28 14:03:21,unknown,b832aac3-fcda-11ea-ac18-c412f533dba1,f19fc286-3160-11eb-ac1f-c412f533dba1
2706,2020-11-28 14:09:39,unknown,5dd88f32-6501-11ea-abf3-c412f533dba1,d308a50b-3161-11eb-ac1f-c412f533dba1
1454,2020-11-28 14:49:52,unknown,5dd88f32-6501-11ea-abf3-c412f533dba1,714ad27d-3167-11eb-ac1f-c412f533dba1
2260,2020-11-28 14:51:36,vkontakte,43756fa4-57a0-11e9-ab9a-c412f533dba1,693f654f-3161-11eb-ac1f-c412f533dba1

In [13]:
df4 = transactions.drop(['transaction_id'], axis=1)
df4.sort_values(by='created_at')

                created_at m_real_amount                           l_client_id
5666   2020-01-01 07:59:51         10928  c434453e-d5a2-11e9-abbe-c412f533dba1
178    2020-01-01 07:59:52          6569  60738cff-e451-11e9-abd4-c412f533dba1
8142   2020-01-01 07:59:52          6232  807acbba-6fd7-11e7-80fc-c412f533dba1
10729  2020-01-01 07:59:53          6573  e188a113-d143-11e9-abbd-c412f533dba1
4261   2020-01-01 08:00:00         10141  f6a9c367-e116-11e9-abc6-c412f533dba1
...                    ...           ...                                   ...
9064   2020-11-28 11:35:54         48962  9b40a515-d430-11e7-8120-c412f533dba1
7926   2020-11-28 11:37:19           426  bfd98342-d5af-11e9-abbe-c412f533dba1
19353  2020-11-28 11:37:40            72  9e0d0644-cfea-11e9-abbd-c412f533dba1
4055   2020-11-28 11:38:21         48996  6234b2f1-d5a4-11e9-abbe-c412f533dba1
24279  2020-11-28 12:02:52         41650  714ad27d-3167-11eb-ac1f-c412f533dba1

[29000 rows x 3 columns]

In [14]:
result = pd.merge(df4, df3, on="l_client_id")
result.drop_duplicates(inplace=True)
result.sort_values(by='created_at_x')

,created_at_x,m_real_amount,l_client_id,created_at_y,d_utm_source,l_manager_id
217,2020-01-02 08:00:07,2247,16382d66-d5b5-11e9-abbe-c412f533dba1,2020-10-08 17:04:10,viber,abed5496-ca88-11e9-abb8-c412f533dba1
548,2020-01-02 08:30:01,732,4ee128c7-c964-11e9-abb7-c412f533dba1,2020-11-17 23:01:51,vk,5dd88f32-6501-11ea-abf3-c412f533dba1
547,2020-01-02 08:30:01,73,4ee128c7-c964-11e9-abb7-c412f533dba1,2020-11-17 23:01:51,vk,5dd88f32-6501-11ea-abf3-c412f533dba1
952,2020-01-02 09:06:07,588,bc5c0b4c-6fd7-11e7-80fc-c412f533dba1,2020-10-19 09:38:40,instagram,1e9c5562-0cfc-11ea-abe1-c412f533dba1
690,2020-01-02 13:43:39,681,4a8a5aa2-6fd7-11e7-80fc-c412f533dba1,2020-11-23 11:26:25,yandex,5dd88f32-6501-11ea-abf3-c412f533dba1
...,...,...,...,...,...,...
1353,2020-11-28 10:12:51,22231,c9ae6557-e8d3-11e9-abd7-c412f533dba1,2020-11-23 13:54:11,sms,b55a233c-5df6-11ea-abf2-c412f533dba1
425,2020-11-28 10:45:03,59842,5e6913ec-315d-11eb-ac1f-c412f533dba1,2020-11-28 13:37:46,unknown,1e9c5562-0cfc-11ea-abe1-c412f533dba1
1740,2020-11-28 11:16:26,2354,d308a50b-3161-11eb-ac1f-c412f533dba1,2020-11-28 14:09:39,unknown,5dd88f32-6501-11ea-abf3-c412f533dba1
706,2020-11-28 11:38:21,48996,6234b2f1-d5a4-11e9-abbe-c412f533dba1,2020-11-22 14:55:20,utm_source,5dd88f32-6501-11ea-abf3-c412f533dba1
1911,2020-11-28 12:02:52,41650,714ad27d-3167-11eb-ac1f-c412f533dba1,2020-11-28 14:49:52,unknown,5dd88f32-6501-11ea-abf3-c412f533dba1

In [15]:
result.created_at_x = result.created_at_x.drop_duplicates()
result # убираем вторые невыполненные заявки(нет транзакции)

,created_at_x,m_real_amount,l_client_id,created_at_y,d_utm_source,l_manager_id
0,2020-11-23 13:22:39,16005,cea2f440-2d85-11eb-ac1f-c412f533dba1,2020-11-23 16:17:09,unknown,1e9c5562-0cfc-11ea-abe1-c412f533dba1
1,2020-11-14 13:26:08,48412,a9259f72-d5a5-11e9-abbe-c412f533dba1,2020-11-13 12:41:23,utm_source,43756fa4-57a0-11e9-ab9a-c412f533dba1
2,2020-10-20 16:29:17,56094,dc018616-1085-11eb-ac1a-c412f533dba1,2020-10-17 17:54:07,yandex,9a87c608-52dc-11ea-abeb-c412f533dba1
3,NaN,56094,dc018616-1085-11eb-ac1a-c412f533dba1,2020-10-17 18:02:58,vk,abed5496-ca88-11e9-abb8-c412f533dba1
4,NaN,56094,dc018616-1085-11eb-ac1a-c412f533dba1,2020-10-17 18:05:38,vk,abed5496-ca88-11e9-abb8-c412f533dba1
...,...,...,...,...,...,...
1963,2020-11-13 06:36:50,38769,da6e6292-1a83-11eb-ac1d-c412f533dba1,2020-10-30 03:41:52,utm_source,d12fe765-b444-11e9-abb3-c412f533dba1
1964,2020-11-26 15:56:23,52372,92b95e5d-2ff6-11eb-ac1f-c412f533dba1,2020-11-26 18:49:24,unknown,db06b8bc-bfb2-11e7-8116-c412f533dba1
1965,2020-01-13 11:26:59,171,d12db57a-35ee-11ea-abeb-c412f533dba1,2020-10-08 13:40:33,viber,d12fe765-b444-11e9-abb3-c412f533dba1
1966,2020-10-30 10:31:05,2133,88f7896d-1a92-11eb-ac1d-c412f533dba1,2020-10-30 13:30:24,unknown,31d3f905-0c7c-11eb-ac1a-c412f533dba1
1967,2020-11-06 13:32:35,2866,8d061da3-1e70-11eb-ac1d-c412f533dba1,2020-11-03 23:44:54,instagram,d12fe765-b444-11e9-abb3-c412f533dba1

In [16]:
result.created_at_x = pd.to_datetime(result.created_at_x)
result.created_at_y = pd.to_datetime(result.created_at_y)
result.created_at_y

0      2020-11-23 16:17:09
1      2020-11-13 12:41:23
2      2020-10-17 17:54:07
3      2020-10-17 18:02:58
4      2020-10-17 18:05:38
               ...
1963   2020-10-30 03:41:52
1964   2020-11-26 18:49:24
1965   2020-10-08 13:40:33
1966   2020-10-30 13:30:24
1967   2020-11-03 23:44:54
Name: created_at_y, Length: 1957, dtype: datetime64[ns]

In [59]:
result['distinction'] = (result.created_at_x - result.created_at_y).dt.days
result[result.l_client_id == 'ccc9cb42-d5a7-11e9-abbe-c412f533dba1']

,created_at_x,m_real_amount,l_client_id,created_at_y,d_utm_source,l_manager_id,distinction
572,2020-11-26 13:52:21,13486,ccc9cb42-d5a7-11e9-abbe-c412f533dba1,2020-10-02 16:12:23,utm_source,1e9c5562-0cfc-11ea-abe1-c412f533dba1,54.0
573,NaT,13486,ccc9cb42-d5a7-11e9-abbe-c412f533dba1,2020-10-01 00:02:55,utm_source,68fba87a-5163-11ea-abeb-c412f533dba1,NaN

In [101]:
def qnt_cust(dim, p):
    if dim == 'd_utm_source':
        return (len(result.l_client_id[(result.d_utm_source == p) & (result.distinction >= 0) 
                                     & (result.distinction <= 7)].drop_duplicates()))
    elif dim == 'd_club':
        id_mans = club.manager_id[club.d_club == p]
        return (len(result.l_client_id[(result.l_manager_id.isin(id_mans)) & (result.distinction >= 0) 
                                     & (result.distinction <= 7)].drop_duplicates()))
    elif dim == 'd_manager':
        id_man = club.manager_id[club.d_manager == p]
        return (len(result.l_client_id[(result.l_manager_id.isin(id_man)) & (result.distinction >= 0) 
                                     & (result.distinction <= 7)].drop_duplicates()))

In [103]:
qnt_cust('d_utm_source', 'vk') #Убираем дубликаты, потому что считаем кол-во людей

22

In [104]:
def qnt_new_cust(dim, p):
    n = result.l_client_id[result.distinction < 0]
    if dim == 'd_utm_source':
        return (len(result.l_client_id[(result.d_utm_source == p) & (result.distinction >= 0)
                                     & (result.distinction <= 7) & (result.l_client_id.isin(n) == False)].drop_duplicates()))
    elif dim == 'd_club':
        id_mans = club.manager_id[club.d_club == p]
        return (len(result.l_client_id[(result.l_manager_id.isin(id_mans)) & (result.distinction >= 0) 
                                     & (result.distinction <= 7) & (result.l_client_id.isin(n) == False)].drop_duplicates()))
    elif dim == 'd_manager':
        id_man = club.manager_id[club.d_manager == p]
        return (len(result.l_client_id[(result.l_manager_id.isin(id_man)) & (result.distinction >= 0) 
                                     & (result.distinction <= 7) & (result.l_client_id.isin(n) == False)].drop_duplicates()))

In [107]:
qnt_new_cust('d_manager', 'manager #13')

24

In [17]:
result.m_real_amount = pd.to_numeric(result.m_real_amount, downcast='integer')
result.m_real_amount

0       16005
1       48412
2       56094
3       56094
4       56094
        ...
1963    38769
1964    52372
1965      171
1966     2133
1967     2866
Name: m_real_amount, Length: 1957, dtype: int32

In [125]:
def sum_inc(dim, p):
    n = result.l_client_id[result.distinction < 0]
    if dim == 'd_utm_source':
        return (result.m_real_amount[(result.d_utm_source == p) & (result.distinction >= 0)
                                                  & (result.distinction <= 7) & (result.l_client_id.isin(n) == False)].
                                                  sum())
    elif dim == 'd_club':
        id_mans = club.manager_id[club.d_club == p]
        return (result.m_real_amount[(result.l_manager_id.isin(id_mans)) & (result.distinction >= 0)
                                                  & (result.distinction <= 7) & (result.l_client_id.isin(n) == False)].
                                                  sum())
    elif dim == 'd_manager':
        id_man = club.manager_id[club.d_manager == p]
        return (result.m_real_amount[(result.l_manager_id.isin(id_man)) & (result.distinction >= 0)
                                                  & (result.distinction <= 7) & (result.l_client_id.isin(n) == False)].
                                                  sum())

In [129]:
sum_inc('d_manager','manager #13')

559738

In [1]:
import httplib2 
import apiclient.discovery
from oauth2client.service_account import ServiceAccountCredentials	

CREDENTIALS_FILE = 'booming-primer-315110-ab23a31129a7.json'  

# Читаем ключи из файла
credentials = ServiceAccountCredentials.from_json_keyfile_name(CREDENTIALS_FILE, ['https://www.googleapis.com/auth/spreadsheets', 'https://www.googleapis.com/auth/drive'])

httpAuth = credentials.authorize(httplib2.Http()) # Авторизуемся в системе
service = apiclient.discovery.build('sheets', 'v4', http = httpAuth) # Выбираем работу с таблицами и 4 версию API 

spreadsheet = service.spreadsheets().create(body = {
    'properties': {'title': 'Первый тестовый документ', 'locale': 'ru_RU'},
    'sheets': [{'properties': {'sheetType': 'GRID',
                               'sheetId': 0,
                               'title': 'Лист номер один',
                               'gridProperties': {'rowCount': 100, 'columnCount': 15}}}]
}).execute()
spreadsheetId = spreadsheet['spreadsheetId'] # сохраняем идентификатор файла
print('https://docs.google.com/spreadsheets/d/' + spreadsheetId)

https://docs.google.com/spreadsheets/d/1RtHiW6kI0mS2zPSDqKwv1j6A_Oo5bCNoGwJ0Yn-AqVo

In [2]:
driveService = apiclient.discovery.build('drive', 'v3', http = httpAuth) # Выбираем работу с Google Drive и 3 версию API
access = driveService.permissions().create(
    fileId = spreadsheetId,
    body = {'type': 'user', 'role': 'writer', 'emailAddress': 'rrinatrr@mail.ru'},  # Открываем доступ на редактирование
    fields = 'id'
).execute()

In [47]:
results = service.spreadsheets().values().batchUpdate(spreadsheetId = '1RtHiW6kI0mS2zPSDqKwv1j6A_Oo5bCNoGwJ0Yn-AqVo', body = {
    "valueInputOption": "USER_ENTERED", # Данные воспринимаются, как вводимые пользователем (считается значение формул)
    "data": [
        {"range": "DF!A1:F15",
         "majorDimension": "COLUMNS",     # Сначала заполнять строки, затем столбцы
         "values": [ d_utm_source, d_club, d_manager
                    ]}
    ]
}).execute()

In [187]:
results2 = service.spreadsheets().values().batchUpdate(spreadsheetId = '1RtHiW6kI0mS2zPSDqKwv1j6A_Oo5bCNoGwJ0Yn-AqVo', body = {
    "valueInputOption": "USER_ENTERED", # Данные воспринимаются, как вводимые пользователем (считается значение формул)
    "data": [
        {"range": "DF!D2:Z15",
         "majorDimension": "COLUMNS",     # Сначала заполнять строки, затем столбцы
         "values": [ best_f(d_utm_source, qnt_leads), best_f(d_club, qnt_leads), best_f(d_manager, qnt_leads),
                     best_f(d_utm_source, qnt_trash_leads), best_f(d_club, qnt_trash_leads), best_f(d_manager, qnt_trash_leads),
                     best_f(d_utm_source, qnt_new_leads), best_f(d_club, qnt_new_leads), best_f(d_manager, qnt_new_leads),
                     best_f(d_utm_source, qnt_cust), best_f(d_club, qnt_cust), best_f(d_manager, qnt_cust),
                     best_f(d_utm_source, qnt_new_cust), best_f(d_club, qnt_new_cust), best_f(d_manager, qnt_new_cust),
                     best_f(d_utm_source, sum_inc), best_f(d_club, sum_inc), best_f(d_manager, sum_inc)
                    ]}
    ]
}).execute()

In [185]:
def best_f(lst, func):
    res = []
    for i in range(1,len(lst)):
        if func == sum_inc:
            res.append(func(lst[0], lst[i]).item()) ##применяем item(), чтобы избежать Object of type int64 is not JSON serializable
        else:
            res.append(func(lst[0], lst[i]))
    return res

In [56]:
best_f(d_utm_source, qnt_leads)

[1243, 920, 379, 205, 164, 145, 98, 83, 61, 19, 15, 4, 1]

In [46]:
d_utm_source = []
d_utm_source = ['d_utm_source'] + leads['d_utm_source'].value_counts().index.tolist()
d_utm_source

['d_utm_source',
 'unknown',
 'instagram',
 'utm_source',
 'viber',
 'yandex',
 'google',
 'vk',
 'sms',
 'vkontakte',
 'insta',
 'ycard',
 'ig',
 'ycard#!/tproduct/225696739-1498486363994']

In [43]:
d_club = []
d_club = ['d_club'] + club['d_club'].value_counts().index.tolist()
d_club

['d_club', 'club #2', 'club #3', 'club #4', 'club #1']

In [45]:
d_manager = []
d_manager = ['d_manager'] + club['d_manager'].value_counts().index.tolist()
d_manager

['d_manager',
 'manager #3',
 'manager #1',
 'manager #9',
 'manager #7',
 'manager #4',
 'manager #8',
 'manager #13',
 'manager #2',
 'manager #6',
 'manager #5',
 'manager #12',
 'manager #11',
 'manager #10']